:root {
    font-size: 16px;
  --primary-color: #9575cd;
  --grey-variant:#818181;
  --primary: #35a0f4;
  --primary-light: #e8f4fd;
  --success: #5cb660;
  --success-light: #edf7ed;
  --warning: #ffa117;
  --warning-light: #fff4e5;
  --danger: #f55448;
  --danger-light: #fdecea;
  --font-color: #fffff3;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
  font-family:Plain,sans-serif;
}

h1,h2, h3, h4 {
  margin: 0;
}
