@import url('./colors.css');

.util-heading {
    display: block;
}

.util-heading-large {
    font-size: 4rem;
}

.util-heading-medium {
    font-size: 2rem;
    margin: 1rem 0;
    display: block;
}

.util-heading-small {
    display: block;
    font-size: 1.2rem;
    margin: 1rem 0;
    /* font-weight:lighter; */
}

.util-small-text {
    font-size: 0.8rem;
}

.util-gray-text {
    color: gray;
}

.util-center-text {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.nostyle {
    text-decoration: none;
}
