.cart {
    padding: 1rem 5.625rem;
    display: flex;
    justify-items: center;
    justify-content:space-evenly ;
    /* align-items: center; */
}

.cartComponent .util-heading-medium {
    text-align: center;
    display:block;
    margin: 1rem;
}

.cartDetails {
    /* border: 1px solid black;
    padding: 1rem;
    max-width: 20rem;
    min-width: 15rem;
    height: auto; */
    margin-left: 2rem;
}

.cartDetailCard {
    /* border: 2px solid #e2e2e2; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 1rem;
    max-width: 30rem;
    min-width: 20rem;
    height: auto;
}

.cartDetailSection {
    display: flex;
    justify-content: space-between;
}

.order-btn {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    margin-inline: auto;
    background-color: #fb641b;
    margin-top: 2rem;
    display: block;
    border: none;
    color: white;
    font-weight: bold;
    cursor:pointer;
}

.cart-heading {
    display: flex;
    justify-content: center;
}

@media (max-width: 955px) {
    .cart {
        flex-direction: column;
        padding: 1rem ;
    }
    .cartDetails {
        margin-inline: auto;
        margin-top: 2rem;
    }
}